*
{
	background-color:F7FF82;
}
h1
{
	font-size:20px;
	text-align:left;
	text-decoration:underline;
}
#div2
{
	margin-top:0px;
	margin-left:70px;
}
p
{
	color:red;
	font-size:15px;
}

